<div class="row">
  <div class="col">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>timeline</mat-icon>
        <div mat-line>
          <mat-chip selected [color]="'primary'">{{ summary.average }}</mat-chip>
        </div>
        <div mat-line>Average</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>call_received</mat-icon>
        <div mat-line>
          <mat-chip selected [color]="'accent'">{{ summary.minimum }}</mat-chip>
        </div>
        <div mat-line>Min</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>call_made</mat-icon>
        <div mat-line>
          <mat-chip selected [color]="'warn'">{{ summary.maximum }}</mat-chip>
        </div>
        <div mat-line>Max</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>call_made</mat-icon>
        <div mat-line>
          <mat-chip selected [color]="'primary'">{{ summary.sumOfCommon }}</mat-chip>
        </div>
        <div mat-line>Sum of common</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>people</mat-icon>
        <div mat-line>
          <mat-chip selected [color]="'primary'">{{ summary.numberOfTeamMembers }}</mat-chip>
        </div>
        <div mat-line>Active team members</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
