<app-tasks-table
  [tasks]="tasks$ | async"
  [displayedColumns]="displayedColumns"
  [hasFilter]="true"
  [hasQuickAdd]="true"
  (addNew)="openAddDialog()"
  (edit)="openEditDialog($event)"
  (delete)="deleteTask($event)"
></app-tasks-table>

<div class="p-2"></div>

<mat-card>
  <mat-card-actions>
    <input type="file" accept=".csv" (change)="handleFileSelect($event)" />
    <button mat-raised-button [color]="'primary'" (click)="importTasks()">Import</button>
    <button mat-raised-button [color]="'accent'" (click)="exportTasks()">
      <mat-icon>cloud_download</mat-icon> Export
    </button>
  </mat-card-actions>
</mat-card>
