<div class="container-fluid">
  <mat-card>
    <mat-card-title>Users</mat-card-title>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.username }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Active </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <mat-slide-toggle
            [color]="'primary'"
            [checked]="user.active"
            (change)="toggleActiveUser(user)"
          ></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card>
</div>
