<mat-card>
  <mat-card-title class="d-flex">
    <div class="mr-auto">Team estimations</div>
    <div>
      <button mat-raised-button [color]="'primary'" (click)="reset()">
        <mat-icon>clear</mat-icon><span class="p-1">Reset</span>
      </button>
      <button mat-raised-button [color]="'accent'" (click)="refresh()">
        <mat-icon>refresh</mat-icon><span class="p-1">Refresh</span>
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <app-team-estimations-list
      [estimations]="estimations$ | async"
      [teamReady]="teamReady$ | async"
    ></app-team-estimations-list>
  </mat-card-content>
</mat-card>
