<div class="p-4">
  <app-summary [summary]="teamSummary$ | async" [teamReady]="teamReady$ | async"></app-summary>
</div>

<div class="p-4">
  <div class="row">
    <div class="col">
      <app-own-estimations></app-own-estimations>
    </div>

    <div class="col">
      <app-team-estimations></app-team-estimations>
    </div>
  </div>
</div>
