<mat-card>
  <mat-card-title class="d-flex">
    <div class="mr-auto">{{ title }}</div>
    <div>
      <button mat-raised-button [cdkCopyToClipboard]="getCopiedValue()" (click)="openSnackBar()">
        Copy to clipboard
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            [color]="'primary'"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            [color]="'primary'"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          ></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="storyPoints">
        <mat-header-cell *matHeaderCellDef>Story points</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.storyPoints }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.category }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pickedByAll">
        <mat-header-cell *matHeaderCellDef>Picked by all</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.pickedByAll ? 'Yes' : 'No' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="whoVoted">
        <mat-header-cell *matHeaderCellDef>Who voted?</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.whoVoted }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="picked-summary-row"
        [ngClass]="{ all: row.pickedByAll }"
        (click)="selection.toggle(row)"
      ></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
