<form [formGroup]="form" class="col-md-12">
  <mat-form-field>
    <input matInput required [placeholder]="'Description'" formControlName="description" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [placeholder]="'Story points'" formControlName="storyPoints" />
    <mat-error *ngIf="form.get('storyPoints').hasError('pattern')">
      Story points should be in Fibonacci scale
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select required [placeholder]="'Category'" formControlName="category">
      <mat-option *ngFor="let category of categoryKeys" [value]="categories[category]">
        {{ categories[category] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button mat-raised-button (click)="cancel()" class="ml-1">Cancel</button>
<button mat-raised-button color="primary" (click)="submit()" class="ml-1">Save</button>
