<mat-card>
  <mat-card-title>Summary</mat-card-title>
  <mat-card-content>
    <mat-spinner *ngIf="!summary; else summarySection"></mat-spinner>
    <ng-template #summarySection>
      <app-stats [summary]="summary"></app-stats>
      <app-picks-summary-table
        [title]="'All picked tasks'"
        [tasks]="summary.allPickedTasks"
      ></app-picks-summary-table>
      <!-- <div class="row">
        <div class="col">
          <app-tasks-table
            [title]="'All picked tasks'"
            [tasks]="summary.allPickedTasks"
            [hasFilter]="false"
            [hasQuickAdd]="false"
            [hasCopyToClipboard]="true"
          ></app-tasks-table>
        </div>
        <div class="col">
          <app-tasks-table
            [title]="'Common tasks'"
            [tasks]="summary.commonTasks"
            [hasFilter]="false"
            [hasQuickAdd]="false"
            [hasCopyToClipboard]="true"
          ></app-tasks-table>
        </div>
      </div> -->
    </ng-template>
  </mat-card-content>
</mat-card>
