<mat-card>
  <mat-card-title class="d-flex">
    <div class="mr-auto">My estimations</div>
    <div class="p-2">
      <button mat-raised-button [color]="'primary'" [disabled]="disabled" (click)="onReady()">
        <mat-icon>done</mat-icon><span class="p-1">Ready</span>
      </button>
      <button mat-raised-button [color]="'accent'" (click)="onReset()">
        <mat-icon>refresh</mat-icon><span class="p-1">Reset</span>
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="p-1">
      <app-own-summary></app-own-summary>
    </div>
    <div class="p-1">
      <app-picked-tasks-list (removePick)="onRemovePick($event)"></app-picked-tasks-list>
    </div>
    <div class="p-1">
      <app-available-tasks-list (pickTask)="onPick($event)"></app-available-tasks-list>
    </div>
  </mat-card-content>
</mat-card>
